---
title: FAQ

questions:
    - q: What are some places to follow to get more news about Upsilon Circuit?
      a:
        - Official [Website](//upsiloncircuit.com/)
        - Official [Discord](//discord.gg/73UnnWa)
        - Official [Twitter](//twitter.com/upsiloncircuit)
        - Official [Facebook](//www.facebook.com/upsiloncircuit)
    - q: When will the alpha testing start?
      a:
        - It is currently planned to start some time in Fall 2016, possibly November.
        - Indiegogo FAQ stated, "Later this year we'll be running some initial tests in different timezones, so it will will depend on your availability. As things progress we'll be sending out a survey   and making sure everyone knows what to expect."
    - q: How much will the game cost?
      a: The show will be free to watch similar to most other streams, and free to participate in as a contestant.
    - q: How are the contestants of the Upsilon Circuit show selected?
      a: The first contestants will be randomly selected. After that, aside from the main **Upsilon Circuit** show, there will be **tournaments** on the side that are not a part of the main show. Audience members will be randomly selected to participate in these tournaments where they will obtain **points** and the favour/respect of other audience members. When a constestant dies, a worthy audience member (one with a lot of points from tournaments) is selected to participate.
    - q: Will you get to customize your character?
      a: Indiegogo FAQ stated, "Yep! Every contestant will be unique and the players will have some choice in appearance."






    - q: What if my question isn't answered here?
      a: Ask on the official discord, twitter, or facebook. Or just see if the information is buried in the rest of the pages on this site.
---

<h3>Quicklist</h3>

<ul class="faq-quicklist">
{% for faq in page.questions %}
    <li><a href="#{{faq.q | slugify}}">{{faq.q | markdownify | remove: '<p>' | remove: '</p>'}}</a></li>
{% endfor %}
</ul>


<dl class="faq">
{% for faq in page.questions %}
    <dt id="{{faq.q | slugify}}">{{faq.q | markdownify | remove: '<p>' | remove: '</p>'}}</dt>
    <div class="answers">
    {% for answer in faq.a %}
    <dd>{{answer | markdownify | remove: '<p>' | remove: '</p>'}}</dd>
    {% endfor %}
    </div>
{% endfor %}
</dl>
