---
title: Quote Dump
---

<p>A simple page to dump image quotes from the discord until they're properly separated out</p>

{% for file in site.static_files %}
    {% assign firstpath = file.path | split:'/' %}
    {% if firstpath[1] == 'quotes' %}
        <p><img src="{{ site.baseurl }}{{ file.path }}" alt="image"></p>
    {% endif %}
{% endfor %}