<ul>
{% assign nav_pages = site.pages | sort:"weight"  %}
{% for p in nav_pages reversed %}
    {% assign p-url = p.url | prepend:site.baseurl %}
    <li>
        <a {% if p-url == page.url %}class="active"{% endif %} href="{{ p-url }}">
            {% if p.link %}{{ p.link }}{% else %}{{ p.title }}{% endif %}
        </a>
    </li>
{% endfor %}
</ul>
