<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.name }}</title>
    {% css main.css %}
</head>
<body>
    <header>
        <nav>
            {% include nav/nested.html context="/" %}
        </nav>
    </header>

    <section>