
<footer id="mainfooter" class="retrobox"><p>This wiki is not affiliated with <a href="//upsiloncircuit.com/">Upsilon Circuit</a> in any official capacity. All rights belong to their respective creators.</p>

<p><strong><a href="{{site.gitlab.repository_url}}/tree/master/{{page.path}}">View page on Gitlab</a> | <a href="{{site.gitlab.repository_url}}/edit/master/{{page.path}}">Edit this page on Gitlab</a></strong></p></footer>

</section>

</body>
</html>
