{% capture html %}
    {% if page.categories.size > 0 %}
        <ul class="article-ref categories">
        {% assign url = site.baseurl %}
        
        {% for cat in page.categories %}
            {% assign url = url | append:"/" | append:cat %}
            <li>
                <a href="{{url}}">{{cat}}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endcapture %}{{ html | strip_newlines }}