{% capture html %}
    {% if page.tags.size > 0 %}
        <ul class="article-ref tags">
        {% assign url = site.baseurl | prepend:"/tags" %}
        
        {% for tag in page.tags %}
            {% assign url = url | append:"/" | append:tag %}
            <li>
                <a href="{{url | uri_escape }}">{{tag}}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endcapture %}{{ html | strip_newlines }}