@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Noto+Sans);
$font-stack: "Noto Sans", Tahoma, Sans-Serif;
$font-stack-title: "Noto Serif", Georgia, Serif;
$color-main: #223;
$color-main-font: #fff;
$color-primary: #01D1FF;
$color-secondary: #FC2CD9;


html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
html {
    box-shadow: inset 0em 0em 10em 0em rgba(0,0,0,0.5);
}
body {
    background: $color-main;
    background-image: linear-gradient(lighten($color-main, 8) 1px, transparent 1px), linear-gradient(90deg, lighten($color-main, 8) 1px, transparent 1px);
    background-size:20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px;
    font: 12pt $font-stack;
    line-height: 1.2em;
    color: $color-main-font;
    display: flex;
}

p {
    margin: 1em 0em;
}

body > section {
    margin: 1em;
    flex: 1 ;
}

ul {
    margin: 0.5em 0em;
    padding: 0;
}

li {
    margin: 0.5em 1.5em;
}

a {
    color: darken($color-primary, 10);
}
a:hover, a:active {
    color: $color-primary;
}

.retrobox {
    //background: transparentize($color-primary, 0.9);
    //box-shadow: 0px -0.25em $color-primary linear-gradient(to bottom, #01d1ff 0%,#fc2cd9 100%), 0px 0.25em $color-secondary;
    background: repeating-linear-gradient(0deg, 
        #000, #000 .10em /* black stripe */, 
        darken($color-primary,40) 0, darken($color-primary,40) .20em /* blue stripe */
    );

    padding: 0.5em 1em;
    position:relative;
    box-shadow: inset 0px 0px .5em 0.25em rgba(0,0,0,0.5);
    vertical-align: middle;
    text-align: center;
    
}
.retrobox:before {
    content: '';
    background: linear-gradient(to bottom, $color-primary 0%, lighten($color-primary, 90) 46%, darken($color-primary, 50) 91%, $color-secondary 93%, $color-secondary 100%); //linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
    padding: 0.25em;
    position: absolute;
    left:0;right:0;
    top:-.5em;
}
.retrobox:after {
    content: '';
    background: linear-gradient(to top, $color-primary 0%, lighten($color-primary, 90) 46%, darken($color-primary, 50) 91%, $color-secondary 93%, $color-secondary 100%);
    padding: 0.25em;
    position: absolute;
    left:0;right:0;
    bottom:-.5em;
}
#mainfooter {
    margin-top: 3em;
}
#mainfooter p {
    margin:0.25em 0;
}

/* main articles */
article.view-post {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
article.view-post header{
    order: 1;
    flex: 0 0 100%;
    margin: 0em 0.5em;
}
article.view-post header h2{
    margin: 0em;
    color: $color-secondary;
    font-family: serif;
    font-size: 1.6em;
}

article.view-post section.main{
    order: 2;
    flex: 1 1 60em;
    margin: 0 0.5em;
    max-width: 60em;
    text-align: justify;
    line-height: 1.3em;
}

article.view-post aside{
    order: 5;
    flex: 1 1 15em;
    max-width: 20em;
    margin: 0.5em;
}
article.view-post aside section{
    background: #fff;
    border: 1px solid #aaa;
    padding: 0.5em;
    border-radius: 0.7em;
    margin-bottom: 0.5em;
}

article.view-post ul.article-ref{
    list-style: none;
    margin: 0.5em 0.25em;
    display: inline-block;
    padding:0;
    font-size: 0.8em;
}
article.view-post ul.article-ref li{
    display: inline-block;
    margin: 0;
}
article.view-post ul.article-ref li a{
    padding: 0em 0.25em;
    background: #58d;
    border: 1px solid #138;
    color: #fff;
    text-decoration: none;
}
article.view-post ul.tags li a{
    background: #d85;
    border: 1px solid #831;
}
article.view-post ul.tags li a:before{
    content: "#";
}


article.view-review > footer, article.view-post > footer {
    order: 10;
    flex: 1 0 80%;
    margin: 2em 0em;
    background: #158;
    color: #fff;
    padding: 1em;
    display:block;
    border-radius: 1em 0em;
    text-align: left;
}
article.view-review > footer:before, article.view-post > footer:before {
    content: "Stats:";
}


/* navigation */
body > header {
    font-size: 1em;
    padding: 0.5em;
    background: transparentize($color-primary, 0.9);
    flex: 0 0 10em;
    box-shadow: 0.25em 0em $color-secondary, 0.5em 0em $color-main, 0.65em 0em $color-primary;
    margin-right: 1em;
}

body > header nav > ul > li:first-of-type {
    font-size: 1.25em;
    margin: 0.5em -0.5em;
    //white-space: nowrap;
    font-weight: bold;
}
body > header nav > ul > li:first-of-type a {
    color: $color-primary;
    //background: #fff;
    border-bottom: 2px solid $color-secondary;
    padding: 0.5em 1em;
    display:inline-block;
    //border-radius: 0.5em 0em;
}

nav ul {
    list-style: none;
    margin: 0.25em 0.5em;
    padding:0;
}
nav > ul li {
    margin-left: 0;
}
nav li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: $color-main-font;
}

/* Definition Lists */
dl dt {
    font-size: 1.1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid $color-primary;
    margin-top: 1em;
    margin-bottom: 0.25em;
}
dl dd {
    margin-bottom: 0.5em;
    margin-left: 1em;
}
dl :target,
dl :target + .answers {
    background: transparentize($color-secondary, 0.8)
}
dl dd:before{
    content: "▣";
    color: $color-secondary;
    margin-right: 0.5em;
}


/* FAQ */
dl.faq dt:before {
    content: "Q";
    color: $color-secondary;
    margin-right: 0.25em;
    font-size:1.25em;
    font-weight: bold;
}

.faq-quicklist {
    font-size: 0.9em;
}
.faq-quicklist li {
    margin-bottom: 0em;
    margin-top: 0em;
}


/* post listing */
.post-listing .post {
    border-left: 0.25em solid $color-secondary;
    padding: 0em 0.5em;
    margin-bottom: 1em;
}
.post-listing .post:last-of-type {
    margin-bottom:0;
}
.post-listing .post header h2 {
    margin-bottom: 0.25em;
}
.post-listing .post .date {
    margin-left: 1em;
}

.post-listing p:after {
    content: " [...]";
}
