---
layout: default
---
<h2>Category: {{page.title}}</h2>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

<hr>

<div class="post-listing">
{% for post in site.categories.[page.category] %}
    <div class="post">
        <header><h2><a href="{{post.url }}">{{post.title}}</a></h2>
        <small class="date">{{post.date | date: '%B %d, %Y' }}</small></header>
    
        {{post.excerpt}}
    </div>
{% endfor %}
</div>