---
layout: default
---
<header>
    <h2>{{page.title}}</h2>
    <div class="info"><span class="date">{{ page.date | date: '%B %d, %Y' }}</span>{%comment%} - <span class="author">{{page.author}}</span>{%endcomment%}</div>
    {% include list-categories.html %}
    {% include list-tags.html %}
</header>
<section class="main">
   {{content}}
</section>

<aside>
    
</aside>